@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    /* max-width: 1920px; */
}

.container {
    padding: 0 120px;

}

.header {
    margin: 35px;
    border-radius: 15px;
    max-width: 1680px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding: 10px 0;
    background-color: #F1F2F5;
    
    
}

header {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding: 10px 0;
    background-color: #F1F2F5; */
    /* width: 100%; */
    /* padding: 20px 0;
    padding-inline: auto; */
}

.header-menu-list {
    display: flex;
    column-gap: 1.15vw;
    list-style-type: none;
}

.header-menu-link {
    text-decoration: none;
    font-size: min(0.94vw, 18px);
    display: inline-flex;
    /* background-color: aqua; */
    height: 50px;
    align-items: center;
    padding: 0 10px;
    color: #000;
    /* border-radius: 100 px; */
    
}


.header-menu-link.is-current {
    background-color: #fff;
    border-radius: 100px;
}

.header-logo {
    padding-left: 20px;
    /* width: 9.58vw; */
}
.header-logo img {
    width: min(9.58vw, 184px);
    /* height: 3.5vw; */
}

.header-action {
    margin-right: 20px
}
.header-burger-button {
    white-space: nowrap;
    color: #000;
    background-color: #E8E9ED;
    padding: 18px 36px;
    border: none;
    border-radius: 65px;
    font-size: min(0.94vw, 18px);
    font-weight: 600;
}

.main-block {
    /* margin-inline: 35px; */
    max-width: 1680px;
    margin-inline: auto;
}

.block-header-section {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    justify-content: space-between;
    column-gap: 25px;
    row-gap: 30px;
    /* background-color: aquamarine; */
}

.block-left-header {
    width: min(955px, 49.74vw);
    height: min(360px, 18.75vw);
    background-color: aqua;
    border-radius: 50px;
    position: relative;
}
.block-left-header-title {
    
    font-size: min(2.5vw, 48px);
    /* font-style: italic; */
    line-height: 100%;
    position: absolute;
    top: 50px;
    left: 60px;
    max-width: 80%;
}
.block-left-header-img {
    width: 100%;
    /* max-width: 955px; */
}

.block-right-header{
   /* background-image: url(./img/Frame152.png); */
   /* background-color: #000; */
   border-radius: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: min(696px, 36.25vw);
    height: min(360px, 18.75vw);
    background-color: aquamarine;
    row-gap: 30px;
}
.block-right-header-img {
    width: 100%;
    /* vertical-align: middle; */
    /* z-index: 1; */
    /* position: relative; */
}

.block-right-header p {
    /* z-index: 2; */
    max-width: 80%;
    max-height: 100%;
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* right: 50%; */
    font-family: "Geologica", sans-serif;
    font-size: min(1.2vw, 25px);
    font-style: italic;
    line-height: 115%;
    top: 30%;
    left: 5%;
}

.block-right-arrow {
    width: 13%;
    position: absolute;
    top: 5%;
    left: 3%;
}

.block-content-cards {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* background-color: crimson; */
    column-gap: 25px;
    margin-top: 20px;
    position: relative;
    
}

.block-content {
    height: min(360px, 18.75vw);
    width: min(360px, 18.75vw);
    border-radius: 50px;
    background-color: aqua;
}
.block-first-card {
    position: absolute;
    z-index: 1;
    background-color: #141414;
    width: min(360px, 18.75vw);
    height: min(206px,10.73vw);
    
    border-radius: 50px;
}
.block-second-card {
    position: absolute;
    z-index: 2;
    background-color: #959595;
    width: min(360px, 18.75vw);
    height: min(206px,10.73vw);
    border-radius: 50px;
    top: 108px;
    
}
.block-third-card {
    position: absolute;
    z-index: 3;
    background-color: #E8E9ED;
    width: min(360px, 18.75vw);
    height: min(151px, 7.86vw);
    border-radius: 50px;
    top: 209px;
}

.block-content.is-long {
    height: min(360px, 18.75vw);
    width: min(520px, 27.01vw);
    border-radius: 50px;
    background-color: aqua;
    
}

.block-content-img {
    width: 100%;
    /* height: 100%; */
    
}

.block-content-link {
    position: relative;
    height: 100%;
    display: flex;
}

.block-content-link span {
    position: absolute;
    color: #fff;
    background-color: #000;
    padding: 0.05vw 1.25vw;
    border-radius: 38px;
    font-size: 1.3vw;
    left: 5%;
    top: 5%;
}